
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Employee Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Show these links only if the user is logged in -->
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventory">Inventory</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- Use *ngIf to conditionally show the Logout button -->
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <!-- Add the (click) event to call the logout method -->
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <!-- Your application's components will be rendered here -->
  <router-outlet></router-outlet>
</div>